/* login.component.css */

.background-image {
    // background-image: url("./../../../assets/images/bg/login.jpg"); /* Replace with the actual path to your image */
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 500px;
    max-width: 900px;
    height: 100%;
    max-height: 900px;
    margin: 20px;
    text-align: center;
}

/* Center-align the card title */
mat-card-title,
mat-card-subtitle {
    display: block;
}

mat-form-field,
mat-checkbox {
    display: block;
}

mat-card-header {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.custom-mat-select .mat-select-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.custom-mat-select .search-input {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
