<div class="container mt-4">

    <div class="container-header">
        <h2>Sports</h2>
        <button mat-raised-button color="primary" (click)="addSport()">Add Sport</button>
    </div>

    <table mat-table [dataSource]="sports" class="mat-elevation-z8">
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="Organization">
            <th mat-header-cell *matHeaderCellDef> Organization </th>
            <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="IsActive">
            <th mat-header-cell *matHeaderCellDef> Is Active </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon *ngIf="element.isActive; else inactiveIcon" style="color: green;">check</mat-icon>
                <ng-template #inactiveIcon>
                    <mat-icon style="color: red;">clear</mat-icon>
                </ng-template>
            </td>
        </ng-container> -->

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="editSport(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="openDialog(element)">
                    <mat-icon style="color: black;">delete</mat-icon>
                </button> 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>