<div class="container mt-4">

    <div class="container-header">
        <h2>Sport List</h2>
        <button mat-raised-button color="primary" (click)="addSport()"><mat-icon>add_box</mat-icon>Add New
            Sport</button>
    </div>
    
    <div class="search-container">
        <mat-form-field appearance="outline" class="search-input" color="accent">
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="searchText" (input)="filterSports()" placeholder="Search...">
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="filteredSports" class="mat-elevation-z8">
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="Organization">
            <th mat-header-cell *matHeaderCellDef> Organization </th>
            <td mat-cell *matCellDef="let element"> {{element.organization}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="editSport(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="openDialog(element)">
                    <mat-icon style="color: black;">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>