<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title>SPL 2025</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./../../assets/images/dashboard/spl.png" alt="SPL 2025">
    <mat-card-content>
        <p>
           Register For the SPL 2025 by clicking on below button.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/register/spl-register'">Register</button>
    </mat-card-actions>
</mat-card>