<div class="custom-dialog-header">
    <span class="custom-dialog-title">{{pageHeader}}</span>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="container mt-4">
    <form [formGroup]="teamForm" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Team Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter Team Name" />
            <mat-error *ngIf="teamForm.get('name').hasError('required')">
                Team Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select formControlName="tournamentId" placeholder="Tournament*">
                <mat-option *ngFor="let tournament of tournamentsList" [value]="tournament.id">
                    {{ tournament.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="teamForm.get('tournamentId').hasError('required')">
                Sport is required.
            </mat-error>
        </mat-form-field>

        <mat-slide-toggle formControlName="isActive" color="accent" class="example-full-width mb-4">Is
            Active</mat-slide-toggle>

        <!-- <div class="mb-4">
            <div class="file-input-wrapper">
                <span>Choose File</span>
                <input type="file" id="fileInput" (change)="onFileSelected($event)">
              </div>
              <div *ngIf="selectedImage">
                <img [src]="selectedImage" alt="Selected Image">
              </div>
        </div> -->

        <div>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none" #fileInput>
            <button mat-raised-button color="primary" (click)="fileInput.click()">
                <mat-icon>cloud_upload</mat-icon>Upload Image
            </button>
            <button mat-raised-button color="warn" (click)="removeImage()" class="ms-2">
                <mat-icon>delete</mat-icon>Remove Image
            </button>
            <button mat-raised-button color="primary" type="submit" (click)="addTeam()" class="ms-2">
                <mat-icon>add_box</mat-icon>Add Team
            </button>
            <br><br>
            <div *ngIf="!selectedFile && errorMessage">
                <mat-error>{{errorMessage}}</mat-error>
              </div>
            <div *ngIf="selectedFile && !isEdit" class="mb-4">
                <img [src]="selectedFileUrl" alt="Uploaded Image" style="max-width: 400px; max-height: 400px;">
            </div>
            <div *ngIf="isEdit && selectedFileUrl" class="mb-4">
                <img [src]="selectedFileUrl" alt="Uploaded Image" style="max-width: 400px; max-height: 400px;">
            </div>            
        </div>        
    </form>
</div>