mat-form-field {
    width: 50%;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%; /* Set the form width to 80% of the viewport width */
    margin: 50px auto auto auto; /* Center the form horizontally */
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.example-margin {
    width: 400px;
    margin-left: 15px;
}

.example-value-label {
    margin-left: 15px;
}

.center {
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4em; /* Adjust font size as needed */
}