<div class="container" *ngIf="isTournamentValid && !loading">
    <h1 class="mb-5">
        Register for {{tournamentData.name}}
    </h1>

    <form [formGroup]="registerForm" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Player Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter Player Name" />
            <mat-error *ngIf="registerForm.get('name').hasError('required')">
                Player Name is required
            </mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="example-full-width"> -->
        <div class="example-full-width">
            <mat-label>Gender : </mat-label>
            <mat-radio-group formControlName="gender">
                <mat-radio-button [value]="true">Male</mat-radio-button>
                <mat-radio-button [value]="false">Female</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="example-full-width">
            <label>Player Rating : </label>
            <mat-slider class="example-margin" [max]="10" [min]="0" [step]="1" [discrete]="false"
                [showTickMarks]="true">
                <input matSliderThumb formControlName="playerRating" #sliderPlayerRating
                    [ngModelOptions]="{standalone: true}">
            </mat-slider>
            <label class="example-value-label">{{sliderPlayerRating.value}}</label>
        </div>

        <mat-form-field class="example-full-width mt-3">
            <mat-label>Comments</mat-label>
            <textarea matInput formControlName="comments" name="comments"></textarea>
            <mat-error *ngIf="registerForm.get('comments').hasError('required')">
                Comments is required
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
        <!-- </mat-form-field> -->
    </form>

    <!-- <form class="example-form">
        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Comments" [(ngModel)]="player.comments" name="comments"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
    </form> -->

</div>

<div class="center" *ngIf="!isTournamentValid && !loading">
    <h1>
        Ha Ha Nice Try !!!
    </h1>
</div>