<div class="custom-dialog-header">
    <span class="custom-dialog-title">{{pageHeader}}</span>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="container mt-4">
    <form [formGroup]="tournamentForm" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Tournament Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter Tournament Name" />
            <mat-error *ngIf="tournamentForm.get('name').hasError('required')">
                Tournament Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="pickerStartDate" formControlName="startDate" name="startDate"
                [min]="minStartDate" (dateChange)="dateChange($event)" required>
            <mat-datepicker-toggle matIconSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerStartDate></mat-datepicker>
            <mat-error *ngIf="tournamentForm.get('startDate').hasError('required')">
                Start Date is required
            </mat-error>
            <mat-error *ngIf="tournamentForm.get('startDate').hasError('matDatepickerMin')">
                Start Date should be greater than or equal to today's date.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="pickerEndDate" formControlName="endDate" name="endDate" [min]="minDate"
                required>
            <mat-datepicker-toggle matIconSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerEndDate></mat-datepicker>
            <mat-error *ngIf="tournamentForm.get('endDate').hasError('required')">
                End Date is required
            </mat-error>
            <mat-error *ngIf="tournamentForm.get('endDate').hasError('matDatepickerMin')">
                End Date should be greater than Start Date.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Enter Tournament Description"></textarea>
            <mat-error *ngIf="tournamentForm.get('description').hasError('required')">
                Tournament Description is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select formControlName="sportId" placeholder="Sport*">
                <mat-option *ngFor="let sport of sportsList" [value]="sport.id">
                    {{ sport.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="tournamentForm.get('sportId').hasError('required')">
                Sport is required.
            </mat-error>
            <button mat-mini-fab matIconSuffix color="accent" class="plus-btn" (click)="onIconClick($event)">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>

        <mat-slide-toggle formControlName="isActive" color="accent" class="example-full-width mb-4">Is
            Active</mat-slide-toggle>
        <div *ngIf="isEdit">
            <button mat-raised-button color="primary" type="submit" (click)="addTournament()"><mat-icon>update</mat-icon>Update Tournament</button>
        </div>
        <div *ngIf="!isEdit">
            <button mat-raised-button color="primary" type="submit" (click)="addTournament()"><mat-icon>add_box</mat-icon>Add Tournament</button>
        </div>
    </form>
</div>