mat-form-field {
    width: 100%;
    display: block;
}

.custom-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: #f0f0f0; /* Change the background color as per your design */
}

.custom-dialog-title {
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%; /* Set the form width to 80% of the viewport width */
    margin: 20px auto auto auto; /* Center the form horizontally */
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.example-half-width {
    width: 450px;
}

.plus-btn {
    margin: auto 5px;
}

.input-container,
.button-container {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; /* Adjust margin as needed */
}

.flex-container {
    display: flex;
    align-items: baseline; /* Align items vertically */
}

.number-of-days {
    flex: 1; /* Make input field occupy remaining space */
    margin-right: 10px; /* Adjust margin as needed */
}

button {
    margin-left: 10px; /* Adjust margin as needed */
}

::ng-deep .mat-calendar-body-cell.selected > .mat-calendar-body-cell-content {
    background-color: orangered !important; /* Set your desired background color for selected dates */
}
