<div class="custom-dialog-header">
    <span class="custom-dialog-title">{{pageHeader}}</span>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="container mt-4">
    <form [formGroup]="tournamentForm" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Tournament Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter Tournament Name" />
            <mat-error *ngIf="tournamentForm.get('name').hasError('required')">
                Tournament Name is required
            </mat-error>
        </mat-form-field>

        <mat-error *ngIf="showDateError">
            You have to select at least one Date.
        </mat-error>

        <mat-form-field class="example-full-width">
            <ngx-multiple-dates [matDatepicker]="picker" placeholder="Excluded Dates" name="excludedDates"
                [(ngModel)]="selectedDates" [ngModelOptions]="{standalone: true}" [min]="minDate">
            </ngx-multiple-dates>
            <mat-datepicker-toggle matPrefix [for]="picker" class="example-full-width"></mat-datepicker-toggle>
            <mat-datepicker #picker class="example-full-width"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Enter Tournament Description"></textarea>
            <mat-error *ngIf="tournamentForm.get('description').hasError('required')">
                Tournament Description is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Venue</mat-label>
            <input matInput formControlName="venue" placeholder="Enter Venue" />
            <mat-error *ngIf="tournamentForm.get('venue').hasError('required')">
                Venue is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select formControlName="sportId" placeholder="Sport*">
                <mat-option *ngFor="let sport of sportsList" [value]="sport.id">
                    {{ sport.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="tournamentForm.get('sportId').hasError('required')">
                Sport is required.
            </mat-error>
            <button mat-mini-fab matIconSuffix color="accent" class="plus-btn" (click)="onIconClick($event)">
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>

        <mat-slide-toggle formControlName="isActive" color="accent" class="example-full-width mb-4">Is
            Active</mat-slide-toggle>
        <div *ngIf="isEdit">
            <button mat-raised-button color="primary" type="submit"
                (click)="addTournament()"><mat-icon>update</mat-icon>Update Tournament</button>
        </div>
        <div *ngIf="!isEdit">
            <button mat-raised-button color="primary" type="submit"
                (click)="addTournament()"><mat-icon>add_box</mat-icon>Add Tournament</button>
        </div>
    </form>
</div>